 .u-section-1 {
  background-position: 50% 50%;
  min-height: 1165px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 104px auto 0;
}

.u-section-1 .u-text-1 {
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0);
  font-family: PetitCochon;
  font-size: 10rem;
  text-shadow: 5px 5px 0px rgba(128,128,128,1);
  margin: 93px auto 0;
}

.u-section-1 .u-text-2 {
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0);
  font-family: PetitCochon;
  font-size: 9.375rem;
  width: 494px;
  margin: -203px auto 0;
}

.u-section-1 .u-text-3 {
  width: 698px;
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 73px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: MYRIADPRO-SEMIBOLD;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 9px auto 0;
}

.u-section-1 .u-countdown-1 {
  margin: 30px auto 60px;
  padding: 6px 16px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 961px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 103px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -201px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 81px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 28px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1119px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 130px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-top: -166px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 969px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 111px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 169px;
  }

  .u-section-1 .u-text-2 {
    font-size: 7.25rem;
    width: 340px;
    margin-top: -175px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 121px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 25px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 51px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 442px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 294px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: MyriadPro-Light;
  margin: 50px 63px 0;
}

.u-section-2 .u-image-1 {
  width: 140px;
  height: 140px;
  margin: 36px auto -40px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 192px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: MyriadPro-Light;
  margin: 64px 63px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 41px;
    margin-bottom: -45px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 193px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 15px;
    margin-bottom: -19px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 114px;
    height: 114px;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-text-1 {
  line-height: 1;
  font-size: 3.75rem;
  font-family: MYRIADPRO-SEMIBOLD;
  font-weight: 700;
  margin: 73px 661px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 626px;
  margin: -180px 0 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 512px;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 8px;
}

.u-section-3 .u-image-1 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 8px;
}

.u-section-3 .u-image-2 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 13px 8px;
}

.u-section-3 .u-image-3 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 13px 8px;
}

.u-section-3 .u-image-4 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 13px 8px;
}

.u-section-3 .u-image-5 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 13px 8px;
}

.u-section-3 .u-image-6 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 13px 8px;
}

.u-section-3 .u-image-7 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 13px 8px;
}

.u-section-3 .u-image-8 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 13px 8px;
}

.u-section-3 .u-image-9 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 13px 8px;
}

.u-section-3 .u-image-10 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 13px 8px;
}

.u-section-3 .u-image-11 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 13px 8px;
}

.u-section-3 .u-image-12 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 13px 8px;
}

.u-section-3 .u-image-13 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 13px 8px;
}

.u-section-3 .u-image-14 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 13px 8px;
}

.u-section-3 .u-image-15 {
  height: 68px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-family: MyriadPro-Light;
  font-weight: 700;
  margin: -292px 661px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 61px;
    margin-right: 484px;
  }

  .u-section-3 .u-list-1 {
    width: 470px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 511px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-12 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-13 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-14 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-15 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: -263px;
    margin-right: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-text-1 {
    margin-top: 52px;
    margin-right: 40px;
  }

  .u-section-3 .u-list-1 {
    width: 705px;
    margin-top: 180px;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-columns: 25%;
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-4 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-5 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-6 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-7 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-8 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-9 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-10 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-11 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-12 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-13 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-13 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-14 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-15 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-15 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: -631px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1363px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 237px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-auto-columns: 33.3333%;
    min-height: 712px;
  }

  .u-section-3 .u-image-1 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-11 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-12 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-13 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-14 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-15 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1057px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1850px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 256px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-auto-columns: 50%;
    min-height: 1320px;
  }

  .u-section-3 .u-image-1 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-11 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-12 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-13 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-14 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-15 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1563px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 888px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-family: MYRIADPRO-SEMIBOLD;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 80px 11px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px);
  grid-gap: 15px 15px;
  min-height: 353px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  margin: 31px auto 0;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  font-size: 1rem;
  font-family: MyriadPro-Light;
  font-weight: normal;
  margin: 28px 0 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  margin: 31px auto 0;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  font-size: 1rem;
  font-family: MyriadPro-Light;
  font-weight: normal;
  margin: 28px 0 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  margin: 31px auto 0;
}

.u-section-4 .u-text-7 {
  font-style: normal;
  font-size: 1rem;
  font-family: MyriadPro-Light;
  font-weight: normal;
  margin: 28px 0 0;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  margin: 31px auto 0;
}

.u-section-4 .u-text-9 {
  font-style: normal;
  font-size: 1rem;
  font-family: MyriadPro-Light;
  font-weight: normal;
  margin: 28px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px auto;
  padding: 9px 45px 11px 43px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-weight: bold;
    width: auto;
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 291px;
  }

  .u-section-4 .u-text-2 {
    font-weight: bold;
  }

  .u-section-4 .u-text-4 {
    font-weight: bold;
  }

  .u-section-4 .u-text-6 {
    font-weight: bold;
  }

  .u-section-4 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-4 .u-text-8 {
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
    min-height: 699px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 822px;
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  text-align: center;
  font-family: MYRIADPRO-SEMIBOLD;
  font-size: 3.75rem;
  line-height: 66px;
  font-weight: 700;
  width: 660px;
  margin: 52px auto 0;
}

.u-section-5 .u-text-2 {
  animation-duration: 1000ms;
  text-align: center;
  font-weight: normal;
  font-family: MyriadPro-Light;
  font-size: 1.875rem;
  width: 497px;
  margin: 31px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 470px;
  grid-gap: 26px 26px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 10px 10px 0px 0 rgba(255,181,168,1);
  text-shadow: 0 10px 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 239px;
  width: 215px;
  margin: 23px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  width: 258px;
  font-size: 1.25rem;
  margin: 16px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  font-family: MyriadPro-Light;
  font-weight: 700;
  margin: 24px 16px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 10px 10px 0px 0 rgba(255,181,168,1);
  text-shadow: 0 10px 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 239px;
  width: 215px;
  margin: 23px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  width: 258px;
  font-size: 1.25rem;
  margin: 16px auto 0;
}

.u-section-5 .u-text-6 {
  font-family: MyriadPro-Light;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 24px 16px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 10px 10px 0px 0 rgba(255,181,168,1);
  text-shadow: 0 10px 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 239px;
  width: 215px;
  margin: 23px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  width: 258px;
  font-size: 1.25rem;
  margin: 16px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.125rem;
  font-family: MyriadPro-Light;
  font-weight: 700;
  margin: 24px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 388px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 20px 14px;
  }

  .u-section-5 .u-image-1 {
    height: 187px;
    width: 187px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 20px 14px;
  }

  .u-section-5 .u-image-2 {
    height: 187px;
    width: 187px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 20px 14px;
  }

  .u-section-5 .u-image-3 {
    height: 187px;
    width: 187px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 52px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 517px;
    grid-auto-columns: calc(33.3333% - 17.3333px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 13px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    font-size: 1.125rem;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 13px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    font-size: 1.125rem;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 13px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    font-size: 1.125rem;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 571px;
    margin-top: 63px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 516px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0 10px 9px;
  }

  .u-section-5 .u-image-1 {
    height: 178px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0 10px 13px;
  }

  .u-section-5 .u-image-2 {
    height: 178px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0 10px 13px;
  }

  .u-section-5 .u-image-3 {
    height: 178px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2115px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    line-height: 1;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 29px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 920px;
    grid-auto-columns: calc(50% - 12.999975000000001px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 157px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 157px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 157px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1411px;
}

.u-section-6 .u-text-1 {
  font-family: MYRIADPRO-SEMIBOLD;
  font-size: 3.75rem;
  background-image: none;
  font-weight: 700;
  width: 700px;
  margin: 33px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  align-self: center;
  background-image: none;
  margin: 41px auto 0;
  padding: 10px 10px 10px 9px;
}

.u-section-6 .u-text-2 {
  font-family: MYRIADPRO-SEMIBOLD;
  font-size: 3.75rem;
  background-image: none;
  font-weight: 700;
  width: 700px;
  margin: 49px auto 0;
}

.u-section-6 .u-list-1 {
  width: 338px;
  margin: 37px auto 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 202px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-6 .u-image-1 {
  height: 81px;
  background-position: 50% 50%;
  width: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.9);
  margin: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-6 .u-image-2 {
  height: 81px;
  background-position: 50% 50%;
  width: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.9);
  margin: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-6 .u-image-3 {
  height: 81px;
  background-position: 50% 50%;
  width: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.9);
  margin: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-6 .u-image-4 {
  height: 81px;
  background-position: 50% 50%;
  width: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.9);
  margin: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-6 .u-image-5 {
  height: 81px;
  background-position: 50% 50%;
  width: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.9);
  margin: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-6 .u-image-6 {
  height: 81px;
  background-position: 50% 50%;
  width: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.9);
  margin: 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 716px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 656px;
  width: 1080px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 40px;
  }

  .u-section-6 .u-list-1 {
    width: 343px;
    margin-top: 41px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 210px;
    grid-auto-columns: calc(33.3333% - 13.3333px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-1 {
    width: 81px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-2 {
    width: 81px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-3 {
    width: 81px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-4 {
    width: 81px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-5 {
    width: 81px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-6 {
    width: 81px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 3px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1437px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 48px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 57px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-list-1 {
    width: 345px;
    margin-top: 57px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 226px;
    grid-auto-columns: calc(50% - 9.99997px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-4 {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-5 {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-6 {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 38px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 22px;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 31px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 181px;
    grid-auto-columns: calc(33.3333% - 13.3333px);
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 30px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 678px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 33px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 42px;
    margin-left: -19px;
    margin-right: -19px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 11px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 22px;
  }

  .u-section-6 .u-list-1 {
    width: 278px;
    margin-top: 20px;
  }

  .u-section-6 .u-repeater-1 {
    width: 219px;
    margin-right: auto;
    margin-left: auto;
    min-height: 160px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-1 {
    height: 44px;
    width: 44px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-2 {
    height: 44px;
    width: 44px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-3 {
    height: 44px;
    width: 44px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-4 {
    height: 44px;
    width: 44px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-5 {
    height: 44px;
    width: 44px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-6 {
    height: 44px;
    width: 44px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 33px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 427px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 600px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: MYRIADPRO-SEMIBOLD;
  margin: 49px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(25% - 14.25px) calc(25% - 14.25px) calc(25% - 14.25px) calc(25% - 14.25px);
  grid-gap: 19px 19px;
  min-height: 316px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-7 .u-icon-1 {
  height: 66px;
  width: 66px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-2 {
  width: 211px;
  letter-spacing: 1.5px;
  background-image: none;
  font-family: MYRIADPRO-SEMIBOLD;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-7 .u-text-3 {
  width: 211px;
  font-weight: normal;
  line-height: 25.6px;
  font-family: MyriadPro-Light;
  font-size: 1rem;
  margin: 34px auto 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-7 .u-icon-2 {
  height: 66px;
  width: 66px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-4 {
  width: 211px;
  letter-spacing: 1.5px;
  background-image: none;
  font-size: 1.25rem;
  font-family: MYRIADPRO-SEMIBOLD;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-7 .u-text-5 {
  width: 211px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 25.6px;
  font-family: MyriadPro-Light;
  margin: 34px auto 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-7 .u-icon-3 {
  height: 66px;
  width: 66px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-6 {
  width: 211px;
  letter-spacing: 1.5px;
  background-image: none;
  font-size: 1.25rem;
  font-family: MYRIADPRO-SEMIBOLD;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-7 .u-text-7 {
  width: 211px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 25.6px;
  font-family: MyriadPro-Light;
  margin: 34px auto 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-7 .u-icon-4 {
  height: 66px;
  width: 66px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-8 {
  width: 211px;
  letter-spacing: 1.5px;
  background-image: none;
  font-size: 1.25rem;
  font-family: MYRIADPRO-SEMIBOLD;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-7 .u-text-9 {
  width: 211px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 25.6px;
  font-family: MyriadPro-Light;
  margin: 34px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-weight: bold;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.5px) calc(50% - 9.5px);
    min-height: 261px;
  }

  .u-section-7 .u-icon-1 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-7 .u-text-2 {
    font-weight: bold;
  }

  .u-section-7 .u-icon-2 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-7 .u-text-4 {
    font-weight: bold;
  }

  .u-section-7 .u-icon-3 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-7 .u-text-6 {
    font-weight: bold;
  }

  .u-section-7 .u-icon-4 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-7 .u-text-8 {
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 49px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.50003px) calc(50% - 9.50003px);
    min-height: 711px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
    width: 267px;
    margin-top: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.25rem;
    width: 267px;
    margin-top: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.25rem;
    width: 267px;
    margin-top: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.25rem;
    width: 267px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.5px) calc(50% - 9.5px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1564px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 733px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: MYRIADPRO-SEMIBOLD;
  font-size: 3.75rem;
  width: 326px;
  margin: 54px auto 0;
}

.u-section-8 .u-list-1 {
  width: 1091px;
  margin: 54px auto 60px;
}

.u-section-8 .u-repeater-1 {
  min-height: 477px;
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  grid-gap: 18px 18px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-8 .u-text-2 {
  width: 189px;
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  font-weight: bold;
  font-family: PetitCochon;
  font-size: 3rem;
  line-height: 48px;
  margin: 23px auto 0;
}

.u-section-8 .u-text-3 {
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  margin: 20px auto 0;
}

.u-section-8 .u-text-4 {
  width: 180px;
  font-family: MyriadPro-Light;
  margin: 25px auto 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-8 .u-text-5 {
  width: 189px;
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  font-weight: bold;
  font-family: PetitCochon;
  font-size: 3rem;
  line-height: 48px;
  margin: 23px auto 0;
}

.u-section-8 .u-text-6 {
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  margin: 20px auto 0;
}

.u-section-8 .u-text-7 {
  width: 180px;
  font-family: MyriadPro-Light;
  margin: 25px auto 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-8 .u-text-8 {
  width: 189px;
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  font-weight: bold;
  font-family: PetitCochon;
  font-size: 3rem;
  line-height: 48px;
  margin: 23px auto 0;
}

.u-section-8 .u-text-9 {
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  margin: 20px auto 0;
}

.u-section-8 .u-text-10 {
  width: 180px;
  font-family: MyriadPro-Light;
  margin: 25px auto 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-8 .u-text-11 {
  width: 189px;
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  font-weight: bold;
  font-family: PetitCochon;
  font-size: 3rem;
  line-height: 48px;
  margin: 23px auto 0;
}

.u-section-8 .u-text-12 {
  text-shadow: 5px 4px 0px rgba(242,131,111,1);
  margin: 20px auto 0;
}

.u-section-8 .u-text-13 {
  width: 180px;
  font-family: MyriadPro-Light;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-8 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 849px;
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9px);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 651px;
}

.u-section-9 .u-text-1 {
  text-align: center;
  font-family: MYRIADPRO-SEMIBOLD;
  background-image: none;
  text-transform: uppercase;
  font-size: 3.75rem;
  text-decoration: none solid rgb(17, 17, 17) !important;
  font-weight: 700;
  width: 563px;
  margin: 117px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  text-align: center;
  line-height: 28.8px;
  font-family: MyriadPro-Light;
  font-weight: 700;
  width: 747px;
  margin: 53px auto 0;
}

.u-section-9 .u-social-icons-1 {
  height: 53px;
  min-height: 16px;
  width: 421px;
  min-width: 236px;
  text-align: center;
  margin: 71px auto 60px;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-social-icons-1 {
    height: 38px;
    width: 344px;
    margin-left: -2px;
    margin-right: -2px;
  }
}@font-face {
  font-family: 'PetitCochon';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PetitCochon.otf);
}@font-face {
  font-family: 'MYRIADPRO-SEMIBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MYRIADPRO-SEMIBOLD.OTF);
}@font-face {
  font-family: 'MyriadPro-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MyriadPro-Light.otf);
}